*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse, white, grey);
}

#main {
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    padding-top: 25%;
    color:rgb(78, 78, 78);
    animation: slide 2s ease 1;
    opacity: 1;
    height: 100%;
    width: 100%;
}

@keyframes slide {
    0%{
        translate: 0 100%;
        opacity: 0;
        font-size: 0px;
    }
    100%{
        translate: 0 0;
        opacity: 1;
        font-size: 24px;
    }
}

#home , #about, #contact {
    font-family: roboto;
    position: absolute;
    padding: 10px 18px;
    border: 1px solid white;
    background-color:transparent;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

#home:hover , #about:hover, #contact:hover{
    background-color: #f7f7f7;
    color: #727070;
    border:none;
}

#home{
    top:30px;
    left: 40px;
}
#about{
    top:30px;
    left: 138px;
}
#contact{
    top:30px;
    left: 240px;
}

